@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 0.75rem;
  background: linear-gradient(hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  color: hsl(238deg, 29%, 16%);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9rem 1.5rem 0 1.5rem;
  background-color: white;
  padding: 0 1.5rem 2.5rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 2rem 2rem hsla(0deg, 0%, 0%, 0.2);
}
.container .faq-image {
  position: relative;
}
.container .faq-image img {
  position: absolute;
}
.container .faq-image .background {
  width: 15rem;
  left: 50%;
  transform: translateX(-50%);
  top: 0.1rem;
}
.container .faq-image .main-image {
  top: -6.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}
.container .faq-box-image {
  display: none;
}
.container .faq-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.container .faq-container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.container .faq-container .faq-item {
  border-bottom: 0.1rem solid rgba(29, 30, 53, 0.1);
  padding: 1rem 0;
  text-align: left;
  width: 100%;
}
.container .faq-container .faq-item .faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.container .faq-container .faq-item .faq-title p {
  font-size: 0.83rem;
}
.container .faq-container .faq-item .faq-title .faq-arrow {
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 0.6rem;
  height: 0.6rem;
  transition: transform 200ms linear;
}
.container .faq-container .faq-item .faq-title .up-arrow {
  transform: rotate(180deg);
  transition: transform 200ms linear;
}
.container .faq-container .faq-item > p {
  color: #8f91c1;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  transition: all 300ms;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
footer p {
  color: hsl(238deg, 29%, 16%);
  margin-bottom: 0.2rem;
}
footer p span:last-child {
  display: block;
}
footer i {
  margin: 0.25rem;
}
footer a {
  color: hsl(238deg, 29%, 16%);
}
footer a:hover {
  color: hsl(14deg, 88%, 65%);
  transition: all 300ms;
}

@media only screen and (min-width: 768px) and (max-width: 1040px) {
  html {
    font-size: 1.54vw;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 4.05vw;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }
  footer p {
    margin-bottom: 0.1rem;
  }
  footer i {
    margin: 0.1rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 57.5rem;
    min-height: 31.75rem;
    flex-direction: row;
    align-items: stretch;
    margin-top: initial;
    position: relative;
    padding: 0;
  }
  .container .faq-image {
    flex-basis: 50%;
    overflow: hidden;
  }
  .container .faq-image .background {
    width: 60rem;
    top: -18rem;
    transform: initial;
    left: -35.5rem;
  }
  .container .faq-image .main-image {
    width: 30rem;
    transform: initial;
    left: -5.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .container .faq-box-image {
    display: initial;
    position: absolute;
    top: 41%;
    width: 11.8rem;
    left: -5.8rem;
  }
  .container .faq-container {
    flex-basis: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 6.9rem 1.5rem 1rem;
    margin-top: initial;
  }
  .container .faq-container .faq-item .faq-title p {
    font-size: 0.9rem;
  }
}
@media only screen and (pointer: fine) {
  .faq-item:hover {
    cursor: pointer;
  }
  .faq-item:hover .faq-title p {
    color: hsl(14deg, 88%, 65%);
  }
}/*# sourceMappingURL=style.css.map */